body {
    font-family: Arial;
    font-size: 14px;
    line-height: 22px;

    max-width: 1024px;
    min-width: 1008px;

    margin: 0 auto;
}

p {
    margin: 0;
}

.line {
    width: 960px;

    margin: 0 auto;
}

.container {
    width: 960px;

    margin: 24px auto 19px auto;
}

.header-content {
    margin: 0 auto;

    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
}

.header-logo img {
    width: 122px;
    height: 108px;
}

.header-contact {
    width: 279px;
    height: 108px;

    background-color: #777777;
}

.header-more {
    width: 513px;
    height: 108px;

    background-color: #777777;
}

.header-more p {
    color: #ffffff;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 22px;
    margin: 0;

}

.main-content {
    display: flex;

    margin-bottom: 25px;
}

.site-menu {
    width: 184px;

    margin-right: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.site-menu-items {
    background-color: #777777;

    padding: 19px 32px 17px 13px;
}

.site-menu-items span {
    color: #ffffff;
    font-weight: 700;
}

.site-menu-items ul {
    list-style: none;

    margin: 0;
    padding: 0;
}

.site-menu-items ul li a {
    color: #ffffff;
    text-decoration: none;
}

.site-menu-items ul li a:hover {
    color: #777777;
    background-color: #ffffff;
}

.content {

}

.content-item {
    padding: 22px 70px 20px 21px;
    color: #777777;

    background-color: #dcdcdc;
    margin-bottom: 19px;
}

.content-item span {
    font-weight: bold;
}

.content-catalog {
    display: flex;
    flex-wrap: wrap;
}

.content-catalog-item{
    padding-bottom: 20px;
    padding-right: 21px;
}

.content-catalog-item:nth-of-type(5n) {
    padding-right: 0;
}

.content-catalog div img{
    width: 134px;
    height: 153px;
}

.content-text {
    display: flex;
}

.content-text:first-child {
    margin-right: 17px;
}

.mr-17px {
    margin-right: 17px;
}

.content-text-item {
    width: 50%;
    padding: 23px 18px 32px 18px;

    color: #777777;

    background-color: #dcdcdc;
}

.footer-container {
    margin-top: 23px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.footer-container {
    position: relative;
    bottom: 0;
}

.footer-container ul {
    margin: 0;
}

.footer-content {
    width: 297px;
}

.footer-content-social {
    width: 308px;
}

.footer-content-list-1 {
    list-style: none;
    padding-left: 25px;
    padding-top: 18px;
    padding-bottom: 18px;

    color: #ffffff;
    column-count: 2;


    background-color: #777777;
}

.footer-content-list-2 {
    list-style: square;
    padding-top: 18px;
    padding-bottom: 18px;

    color: #ffffff;

    background-color: #777777;
}

.footer-container:nth-child(2n) {
    margin: 0 28px;
}

.footer-social {
    width: 309px;
    height: 77px;

    background-color: #777777;

    margin-bottom: 36px;
}

.footer-image {
    width: 309px;
}

.footer-image img{
    width: 308px;
    height: 77px;
}